<!-- Describe task in general -->

<p style="text-align: justify;">
    Використовуйте <a target="_blank" href="https://en.wikipedia.org/wiki/Luhn_algorithm">Luhn algorithm</a> для перевірки номерів кредитних карток. Кожен номер кредитної картки подається у вигляді рядка і має правильну форму з чотирьох чотиризначних блоків, розділених одним пробілом.
</p>

<p style="text-align: justify;">
    Для цього алгоритм включає такі кроки:
    <ol>
        <li><p>Подвоїти кожну другу цифру, починаючи з крайньої правої.</p></li>
        <li><p>Якщо результат подвоєння більший за 9, додайте цифри числа.</p></li>
        <li><p>Складіть всі цифри.</p></li>
        <li><p>Перевірте, чи сума однозначно ділиться на 10.</p></li>
    </ol>
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}luhn-checker.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Булеве значення <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
