<!-- Describe task in general -->

<p style="text-align: justify;">
    Use <a target="_blank" href="https://en.wikipedia.org/wiki/Luhn_algorithm">Luhn algorithm</a> to validate credit card numbers. Every credit card number is given as a string and has a correct form of four four-digit blocks, separated by single whitespace.
</p>

<p style="text-align: justify;">
    For this particular purpose, the algorithm includes such steps:
    <ol>
        <li><p>Double every second digits starting from the rightmost.</p></li>
        <li><p>If the result of doubling is greater than 9, add the digits of the number.</p></li>
        <li><p>Sum all digits.</p></li>
        <li><p>Check if the sum is clearly divisible by 10.</p></li>
    </ol>
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}luhn-checker.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> String <span translate="no">(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> Boolean value <span translate="no">(bool{% if is_js %}ean{% endif %})</span>. 
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
